<a href="https://colab.research.google.com/github/MirianCabral/PySpark/blob/main/PySpark_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [93]:
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [94]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('PySpark_03')
    .getOrCreate()
)

In [95]:
df = spark.read.csv('/content/wc2018-players.csv', header= True, inferSchema=True)

In [96]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [97]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao').withColumnRenamed('FIFA Popular Name', 'Nome_FIFA')\
.withColumnRenamed('Birth Date', 'Nascimento').withColumnRenamed('Shirt Name', 'Nome_Camiseta').withColumnRenamed('Club', 'Time')\
.withColumnRenamed('Height', 'Altura').withColumnRenamed('Weight', 'Peso')

dia = udf(lambda data: data.split('.')[0])
mes = udf(lambda data: data.split('.')[1])
ano = udf(lambda data: data.split('.')[2])

df = df.withColumn('Dia', dia('Nascimento')).withColumn('Mes', mes('Nascimento')).withColumn('Ano', ano('Nascimento'))
df = df.withColumn('Data_Nascimento', concat_ws('-', 'Ano', 'Mes', 'Dia').cast(DateType()))

df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+---+----+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome_Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+---+----+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+---+----+---------------+
only showing top 5 rows

###Alteração Aula PySpark 02

In [98]:
df2 = df
df = df.drop('Nascimento', 'Nome_FIFA')

###Distinct()

In [99]:
df.select(col('Selecao')).distinct().show()

+--------------+
|       Selecao|
+--------------+
|        Russia|
|       Senegal|
|        Sweden|
|       IR Iran|
|       Germany|
|        France|
|     Argentina|
|       Belgium|
|          Peru|
|       Croatia|
|       Nigeria|
|Korea Republic|
|         Spain|
|       Denmark|
|       Morocco|
|        Panama|
|       Iceland|
|       Uruguay|
|        Mexico|
|       Tunisia|
+--------------+
only showing top 20 rows

###Collect()

In [100]:
lista = df.select(col('Selecao')).distinct().collect()
lista

[Row(Selecao='Russia'),
 Row(Selecao='Senegal'),
 Row(Selecao='Sweden'),
 Row(Selecao='IR Iran'),
 Row(Selecao='Germany'),
 Row(Selecao='France'),
 Row(Selecao='Argentina'),
 Row(Selecao='Belgium'),
 Row(Selecao='Peru'),
 Row(Selecao='Croatia'),
 Row(Selecao='Nigeria'),
 Row(Selecao='Korea Republic'),
 Row(Selecao='Spain'),
 Row(Selecao='Denmark'),
 Row(Selecao='Morocco'),
 Row(Selecao='Panama'),
 Row(Selecao='Iceland'),
 Row(Selecao='Uruguay'),
 Row(Selecao='Mexico'),
 Row(Selecao='Tunisia'),
 Row(Selecao='Saudi Arabia'),
 Row(Selecao='Switzerland'),
 Row(Selecao='Brazil'),
 Row(Selecao='Japan'),
 Row(Selecao='England'),
 Row(Selecao='Poland'),
 Row(Selecao='Portugal'),
 Row(Selecao='Australia'),
 Row(Selecao='Costa Rica'),
 Row(Selecao='Egypt'),
 Row(Selecao='Serbia'),
 Row(Selecao='Colombia')]

In [101]:
type(lista[20][0])

str

In [102]:
lista[1][0]

'Senegal'

In [103]:
paises = []
for pais in lista:
  paises.append(pais[0])

paises

['Russia',
 'Senegal',
 'Sweden',
 'IR Iran',
 'Germany',
 'France',
 'Argentina',
 'Belgium',
 'Peru',
 'Croatia',
 'Nigeria',
 'Korea Republic',
 'Spain',
 'Denmark',
 'Morocco',
 'Panama',
 'Iceland',
 'Uruguay',
 'Mexico',
 'Tunisia',
 'Saudi Arabia',
 'Switzerland',
 'Brazil',
 'Japan',
 'England',
 'Poland',
 'Portugal',
 'Australia',
 'Costa Rica',
 'Egypt',
 'Serbia',
 'Colombia']

###When / Otherwise()

In [104]:
df.withColumn('Coluna_Nova', when(col('Selecao')== "Argentina", 'Argentinos').otherwise('NÂO ARGENTINO')).show(50)

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+-------------+
|  Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|  Coluna_Nova|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+-------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|   Argentinos|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|   Argentinos|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|   Argentinos|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|   Argentinos|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|   Argentinos|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|   Argentinos|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|   Argentinos|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|   Argentinos|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|   Argentinos|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|   Argentinos|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|   Argentinos|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|   Argentinos|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|   Argentinos|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|   Argentinos|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|   Argentinos|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|   Argentinos|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|   Argentinos|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|   Argentinos|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|   Argentinos|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|   Argentinos|
|Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|   Argentinos|
|Argentina|    12|     GK|       ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|   Argentinos|
|Argentina|     1|     GK|       GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|   Argentinos|
|Australia|    16|     DF|       BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|NÂO ARGENTINO|
|Australia|    10|     FW|        KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|NÂO ARGENTINO|
|Australia|    19|     DF|       RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|NÂO ARGENTINO|
|Australia|     3|     DF|     MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|NÂO ARGENTINO|
|Australia|    13|     MF|         MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|NÂO ARGENTINO|
|Australia|    14|     FW|     MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|NÂO ARGENTINO|
|Australia|    21|     FW|     PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|NÂO ARGENTINO|
|Australia|    17|     FW|       ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|NÂO ARGENTINO|
|Australia|     4|     FW|       CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|NÂO ARGENTINO|
|Australia|     8|     MF|       LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|NÂO ARGENTINO|
|Australia|    20|     DF|    SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|NÂO ARGENTINO|
|Australia|    22|     MF|       IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|NÂO ARGENTINO|
|Australia|     5|     DF|     MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|NÂO ARGENTINO|
|Australia|    15|     MF|      JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|NÂO ARGENTINO|
|Australia|     9|     FW|        JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|NÂO ARGENTINO|
|Australia|     1|     GK|         RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|NÂO ARGENTINO|
|Australia|     6|     DF|       JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|NÂO ARGENTINO|
|Australia|     7|     FW|       LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|NÂO ARGENTINO|
|Australia|     2|     DF|      DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|NÂO ARGENTINO|
|Australia|    11|     FW|      NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|NÂO ARGENTINO|
|Australia|    12|     GK|        JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|NÂO ARGENTINO|
|Australia|    23|     MF|        ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|NÂO ARGENTINO|
|Australia|    18|     GK|      VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|NÂO ARGENTINO|
|  Belgium|    14|     FW|      MERTENS|    SSC Napoli (ITA)|   169|  61| 06| 05|1987|     1987-05-06|NÂO ARGENTINO|
|  Belgium|    11|     MF|     CARRASCO|Dalian Yifang FC ...|   180|  67| 04| 09|1993|     1993-09-04|NÂO ARGENTINO|
|  Belgium|     7|     MF|    DE BRUYNE|Manchester City F...|   181|  70| 28| 06|1991|     1991-06-28|NÂO ARGENTINO|
|  Belgium|    16|     MF|    T. HAZARD|VfL Borussia Mönc...|   174|  70| 29| 03|1993|     1993-03-29|NÂO ARGENTINO|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+-------------+
only showing top 50 rows

In [105]:
europa        = ['Sweden', 'Germany', 'France', 'Belgium', 'Croatia', 'Spain', 'Denmark', 'Iceland', 'Switzerland', 'England', 'Poland', 'Portugal', 'Serbia']
asia          = ['Russia', 'IR Iran', 'Korea Republic', 'Saudi Arabia', 'Japan']
africa        = ['Senegal', 'Nigeria', 'Morocco', 'Tunisia', 'Egypt']
oceania       = ['Australia']
america_norte = ['Panama', 'Mexico', 'Costa Rica']
america_sul   = ['Argentina', 'Peru', 'Uruguay', 'Brazil', 'Colombia']

In [106]:
df = df.withColumn('Continente', when(col('Selecao').isin(europa), 'Europa')\
              .when(col('Selecao').isin(asia), 'Asia')\
              .when(col('Selecao').isin(africa), 'Africa')\
              .when(col('Selecao').isin(oceania), 'Oceania')\
              .when(col('Selecao').isin(america_norte),'America do Norte')\
              .when(col('Selecao').isin(america_sul), 'America do Sul')\
              .otherwise('Verificar')
              )

In [107]:
df.show(50)

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|  Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|    Continente|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|America do Sul|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|America do Sul|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|America do Sul|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|America do Sul|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|America do Sul|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|America do Sul|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|America do Sul|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|America do Sul|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|America do Sul|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|America do Sul|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|America do Sul|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|America do Sul|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|America do Sul|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|America do Sul|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|America do Sul|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|America do Sul|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|America do Sul|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|America do Sul|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|America do Sul|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|America do Sul|
|Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|America do Sul|
|Argentina|    12|     GK|       ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|America do Sul|
|Argentina|     1|     GK|       GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|America do Sul|
|Australia|    16|     DF|       BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|       Oceania|
|Australia|    10|     FW|        KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|       Oceania|
|Australia|    19|     DF|       RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|       Oceania|
|Australia|     3|     DF|     MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|       Oceania|
|Australia|    13|     MF|         MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|       Oceania|
|Australia|    14|     FW|     MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|       Oceania|
|Australia|    21|     FW|     PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|       Oceania|
|Australia|    17|     FW|       ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|       Oceania|
|Australia|     4|     FW|       CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|       Oceania|
|Australia|     8|     MF|       LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|       Oceania|
|Australia|    20|     DF|    SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|       Oceania|
|Australia|    22|     MF|       IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|       Oceania|
|Australia|     5|     DF|     MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|       Oceania|
|Australia|    15|     MF|      JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|       Oceania|
|Australia|     9|     FW|        JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|       Oceania|
|Australia|     1|     GK|         RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|       Oceania|
|Australia|     6|     DF|       JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|       Oceania|
|Australia|     7|     FW|       LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|       Oceania|
|Australia|     2|     DF|      DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|       Oceania|
|Australia|    11|     FW|      NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|       Oceania|
|Australia|    12|     GK|        JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|       Oceania|
|Australia|    23|     MF|        ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|       Oceania|
|Australia|    18|     GK|      VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|       Oceania|
|  Belgium|    14|     FW|      MERTENS|    SSC Napoli (ITA)|   169|  61| 06| 05|1987|     1987-05-06|        Europa|
|  Belgium|    11|     MF|     CARRASCO|Dalian Yifang FC ...|   180|  67| 04| 09|1993|     1993-09-04|        Europa|
|  Belgium|     7|     MF|    DE BRUYNE|Manchester City F...|   181|  70| 28| 06|1991|     1991-06-28|        Europa|
|  Belgium|    16|     MF|    T. HAZARD|VfL Borussia Mönc...|   174|  70| 29| 03|1993|     1993-03-29|        Europa|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
only showing top 50 rows

###Union (Concat)

In [108]:
df_america_sul = df.filter('Continente == "America do Sul"')
df_america_sul.select('Selecao'). distinct().show()

+---------+
|  Selecao|
+---------+
|Argentina|
|     Peru|
|  Uruguay|
|   Brazil|
| Colombia|
+---------+

In [109]:
df_america_norte = df.filter('Continente == "America do Norte"')
df_america_norte.select('Selecao'). distinct().show()

+----------+
|   Selecao|
+----------+
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

In [110]:
df_americas = df_america_sul.union(df_america_norte)

In [111]:
df_americas.select('Selecao'). distinct().show()

+----------+
|   Selecao|
+----------+
| Argentina|
|      Peru|
|   Uruguay|
|    Brazil|
|  Colombia|
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

In [112]:
df_america_sul = df_america_sul.drop('Continente')

In [113]:
df_america_sul.show()

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+
|  Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+
only showing top 20 rows

###JOIN

In [114]:
arg = df.filter('Selecao == "Argentina"')
bra = df.filter('Selecao == "Brazil"')

In [115]:
arg = arg.drop ('Time', 'Dia', 'Mes', 'Ano', 'Continente', 'Peso', 'Data_Nascimento')
bra = bra.drop ('Time', 'Dia', 'Mes', 'Ano', 'Continente', 'Peso', 'Data_Nascimento')

###Join Simples

In [126]:
# Dados dos joins 100% correspondentes

In [116]:
dfnovo = arg.join(bra, arg.Numero == bra.Numero)
dfnovo.show(25)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|     3|     DF|   TAGLIAFICO|   169| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    22|     MF|        PAVÓN|   169| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    15|     MF|      LANZINI|   167| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    18|     DF|       SALVIO|   167| Brazil|    18|     MF|         FRED|   169|
|Argentina|    10|     FW|        MESSI|   170| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|     4|     DF|      ANSALDI|   181| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|     5|     MF|       BIGLIA|   175| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     7|     MF|       BANEGA|   175| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|    14|     DF|   MASCHERANO|   174| Brazil|    14|     DF|       DANILO|   184|
|Argentina|    21|     FW|       DYBALA|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    19|     FW|       AGÜERO|   172| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|     9|     FW|      HIGUAÍN|   184| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    11|     MF|     DI MARÍA|   178| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|    20|     MF|     LO CELSO|   177| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    13|     MF|         MEZA|   180| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|     8|     DF|        ACUÑA|   172| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    23|     GK|    CABALLERO|   186| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|     2|     DF|      MERCADO|   181| Brazil|     2|     DF|     T. SILVA|   183|
|Argentina|    17|     DF|     OTAMENDI|   181| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|    16|     DF|         ROJO|   189| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|     6|     DF|        FAZIO|   199| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|    12|     GK|       ARMANI|   189| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|     1|     GK|       GUZMÁN|   192| Brazil|     1|     GK|    A. BECKER|   193|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

In [117]:
arg = arg.withColumn('Numero', col('Numero') + 1)

###Inner Join

In [ ]:
# Mostra apenas os dados que tem correspondência

In [118]:
dfnovo = arg.join(bra, arg['Numero'] == bra['Numero'], 'inner')
dfnovo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

In [119]:
dfnovo.count()

22

###Left Join

In [ ]:
# Mostra todos os lados dos DF do lado ESQUERDO
# (Valores do lado dir que não tiverem correspondência serão mostrados como nulos)

In [120]:
dfnovo = arg.join(bra, arg['Numero'] == bra['Numero'], 'left')
dfnovo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    24|     GK|    CABALLERO|   186|   NULL|  NULL|   NULL|         NULL|  NULL|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

###Rigth Join

In [ ]:
# Mostra todos os lados dos DF do lado DIREITO
# (Valores do lado esq que não tiverem correspondência serão mostrados como nulos)

In [121]:
dfnovo = arg.join(bra, arg['Numero'] == bra['Numero'], 'right')
dfnovo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|     NULL|  NULL|   NULL|         NULL|  NULL| Brazil|     1|     GK|    A. BECKER|   193|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

###Full Join

In [ ]:
# Será mostrado todas as linhas
# (valores que não corresponderem de ambos os lados serão representados como NULOS)

In [122]:
dfnovo = arg.join(bra, arg['Numero'] == bra['Numero'], 'full')
dfnovo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|     NULL|  NULL|   NULL|         NULL|  NULL| Brazil|     1|     GK|    A. BECKER|   193|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|    24|     GK|    CABALLERO|   186|   NULL|  NULL|   NULL|         NULL|  NULL|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

###Semi Join

In [ ]:
# Similar ao Inner Join, porém apenas os dados do DataFrame esquerdo é mostrado

In [123]:
dfnovo = arg.join(bra, arg['Numero'] == bra['Numero'], 'semi')
dfnovo.show(50)

+---------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+
|Argentina|     4|     DF|   TAGLIAFICO|   169|
|Argentina|    23|     MF|        PAVÓN|   169|
|Argentina|    16|     MF|      LANZINI|   167|
|Argentina|    19|     DF|       SALVIO|   167|
|Argentina|    11|     FW|        MESSI|   170|
|Argentina|     5|     DF|      ANSALDI|   181|
|Argentina|     6|     MF|       BIGLIA|   175|
|Argentina|     8|     MF|       BANEGA|   175|
|Argentina|    15|     DF|   MASCHERANO|   174|
|Argentina|    22|     FW|       DYBALA|   177|
|Argentina|    20|     FW|       AGÜERO|   172|
|Argentina|    10|     FW|      HIGUAÍN|   184|
|Argentina|    12|     MF|     DI MARÍA|   178|
|Argentina|    21|     MF|     LO CELSO|   177|
|Argentina|    14|     MF|         MEZA|   180|
|Argentina|     9|     DF|        ACUÑA|   172|
|Argentina|     3|     DF|      MERCADO|   181|
|Argentina|    18|     DF|     OTAMENDI|   181|
|Argentina|    17|     DF|         ROJO|   189|
|Argentina|     7|     DF|        FAZIO|   199|
|Argentina|    13|     GK|       ARMANI|   189|
|Argentina|     2|     GK|       GUZMÁN|   192|
+---------+------+-------+-------------+------+

###Anti Join

In [125]:
# Mostra os dados do DF do lado esquerdo que NÂO possuem correspondências

In [124]:
dfnovo = arg.join(bra, arg['Numero'] == bra['Numero'], 'anti')
dfnovo.show(50)

+---------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|Altura|
+---------+------+-------+-------------+------+
|Argentina|    24|     GK|    CABALLERO|   186|
+---------+------+-------+-------------+------+